<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>263442562805-t7ped3gpd1hl7iccfqmru9b8o8le07m4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.263442562805-t7ped3gpd1hl7iccfqmru9b8o8le07m4</string>
	<key>API_KEY</key>
	<string>AIzaSyCu4D6DVCv9iNBwhv-7SSL7i577U9mBIgw</string>
	<key>GCM_SENDER_ID</key>
	<string>263442562805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>proxym.TunisianDestinations</string>
	<key>PROJECT_ID</key>
	<string>pfe-proxym-2019</string>
	<key>STORAGE_BUCKET</key>
	<string>pfe-proxym-2019.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:263442562805:ios:9233f4d3ae958213508fbc</string>
	<key>DATABASE_URL</key>
	<string>https://pfe-proxym-2019.firebaseio.com</string>
</dict>
</plist>